[package]
name = "fluvio-future"
version = "0.6.2"
edition = "2021"
authors = ["Fluvio Contributors <team@fluvio.io>"]
description = "I/O futures for Fluvio project"
repository = "https://github.com/infinyon/future-aio"
license = "Apache-2.0"
resolver = "2"

[package.metadata.docs.rs]
all-features = true

[features]
task = ["async-std/default", "timer", "cfg-if"]
subscriber = ["tracing-subscriber", "tracing-subscriber/std", "tracing-subscriber/env-filter"]
fixture = ["subscriber", "task", "fluvio-test-derive"]
task_unstable = ["task", "async-std/unstable"]
io = ["async-std/default"]
sync = ["async-std/default"]
future = ["async-std/default"]
net = ["futures-lite", "async-net", "async-trait", "cfg-if", "futures-util/io", "socket2"]
tls = ["rust_tls"]
rust_tls = [
    "net",
    "rustls-pemfile",
    "async-rustls",
    "pin-project",
    "futures-util/io",
]
native2_tls = [
    "net",
    "pin-project",
    "async-native-tls",
    "native-tls",
    "openssl/vendored",
    "futures-util/io",
]
openssl_tls = [
    "net",
    "openssl",
    "openssl-sys",
    "pin-project",
    "futures-util/io",
]
timer = ["async-io", "pin-project", "futures-lite"]
fs = ["async-fs", "futures-lite", "pin-utils", "async-trait"]
zero_copy = ["nix", "task_unstable"]
mmap = ["fs", "memmap2", "task_unstable"]
retry = []
doomsday = ["task", "sync"]
http-client = [
    "rust_tls",
    "async-std/default",
    "dep:bytes",
    "dep:http",
    "dep:hyper",
    "dep:serde",
    "dep:serde_json",
    "dep:tokio",
    "dep:once_cell",
    "dep:webpki-roots",
]
tokio1 = ["async-std/tokio1"]
http-client-json = ["http-client"]
# useful for tests
__skip-http-client-cert-verification = []

[dependencies]
anyhow = { version = "1.0" }
async-trait = { version = "0.1.40", optional = true }
bytes = { version = "1.0.0", optional = true }
cfg-if = { version = "1.0.0", optional = true }
futures-lite = { version = "1.11.2", optional = true }
futures-util = { version = "0.3.5", optional = true }
futures-timer = { version = "3.0.0", optional = true }
http = { version = "0.2.11", optional = true } # same as hyper
hyper = { version = "0.14", default-features = false, features = ["client", "http1", "http2"], optional = true }
log = "0.4.0"
once_cell = { version = "1.18.0", optional = true }
pin-utils = { version = "0.1.0", optional = true }
pin-project = { version = "1.0.8", optional = true }
thiserror = "1.0"
tokio = { version = "1.33.0", default-features = false, optional = true }
tracing = { version = "0.1" }
tracing-subscriber = { version = "0.3", optional = true }
serde = { version = "1.0", optional = true }
serde_json = { version = "1.0", optional = true }
webpki-roots = { version = "0.25", optional = true }

fluvio-test-derive = { path = "async-test-derive", version = "0.1.1", optional = true }


[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
async-native-tls = { version = "0.4.0", optional = true }
async-fs = { version = "1.3.0", optional = true }
async-io = { version = "1.1.2", optional = true }
async-net = { version = "1.6.0", optional = true }
async-rustls = { version = "0.4.1", features = ["dangerous_configuration"], optional = true }
async-std = { version = "1.12.0", default-features = false, optional = true }
memmap2 = { version = "0.5", optional = true }
native-tls = { version = "0.2.4", optional = true }
openssl = { version = "0.10.35", optional = true }
openssl-sys = { version = "0.9.65", optional = true, features = ["vendored"]}
nix = { version = "0.26.0", optional = true }
rustls-pemfile = { version = "2.0.0", optional = true }
socket2 = { version = "0.5.3", default-features = false, features = ["all"], optional = true }


[target.'cfg(target_arch = "wasm32")'.dependencies]
async-std = { version = "1.12.0", default-features = false, features = ["unstable"], optional = true }
ws_stream_wasm = "0.7.3"

fluvio-wasm-timer = "0.2.5"


[dev-dependencies]
async-lock = "2.5.0"
async-std = { version = "1.12.0", features = ["attributes"] }
bytes = "1.0.0"
futures-util = { version = "0.3.5", features = ["sink", "io"] }
lazy_static = "1.2.0"
num_cpus = "1.10.1"
serde = { version = "1.0.189", features = ["derive"] }
tokio = { version = "1.17.0", features = ["macros"] }
tokio-util = { version = "0.7.0", features = ["codec", "compat"] }

fluvio-test-derive = { path = "async-test-derive", version = "0.1.0" }
fluvio-future = { path = ".", features = ["net", "fixture", "timer", "fs", "retry", "http-client-json", "__skip-http-client-cert-verification"] }
flv-util = { version = "0.5.0", features = ["fixture"] }


[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
portpicker = "0.1.1"

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
tracing-wasm = "0.2.0"
wasm-bindgen-futures = "0.4.24"
wasm-bindgen-test = "0.3.24"


